<div class="row">
    <div class="col-xs-3">
    	 <p>Stats</p>
    </div>

    <div class="col-xs-6"> 
      <p>Feed</p>
    </div>

    <div class="col-xs-3">
        <p>Trending</p>
      </div>
        
    </div>
</div>




<!-- <div class="row">
    <div class="col-lg-3">
  
      <div class="well">
        <p>This is where our stats go</p>
      </div>
    </div>

    <div class="col-lg-6 well"> 
      <%= yield %>
    </div>

<div class="row">
    <div class="col-lg-3">
    
      <div class="well">
        <p>This is where what's trending go</p>
      </div>
        </div>
     </div>
    </div>
  </div> -->